@import url(_variables.css);
@import url(_reset.css);
@import url(../../css/components/botoes.css);

body{
    background-color: var(--branco-fundo);
    font-family:var(--familia-corpo);
    font-size: var(--tamanho-corpo);
    color:var(--preto-transparente);
}

.titulo{
    font-size: var(--tamanho-titulo);
    font-weight: var(--peso-titulo);
    font-family: var(--familia-corpo);
}
.titulo--destaque{
    font-family: var(--familia-titulo-destaque);
    color: #000000;
    font-size: var(--tamanho-titulo-destaque);
    font-weight: var(--peso-titulo-destaque);

    display: block;

    margin-top: .75rem;
    margin-bottom: .75rem;
}