@import url(_variables.css);
@import url(_reset.css);
@import url(../../css/components/botoes.css);

body{
    font-family:var(--familia-corpo);
    font-size: var(--tamanho-corpo);
    color:var(--branco-fundo);}

.titulo{
    font-size: var(--tamanho-titulo);
    font-weight: var(--peso-titulo);
    font-family: var(--familia-corpo);
}
.titulo--destaque{
    font-family: var(--familia-titulo-destaque);
    color: #000000;
    font-size: var(--tamanho-titulo-destaque);
    font-weight: var(--peso-titulo-destaque);

    display: block;

    margin-top: .75rem;
    margin-bottom: .75rem;
}

.cabecalho{
    background-color: var(--verde);
    padding: 0.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    
    grid-template-areas: 
    "menu logo busca login"
    ;
    
    
    
}
.cabecalho__icone-lateral {
    margin-left: 1rem;
    font-size: 24px;
    grid-area: menu;
    justify-self: left;
}

.cabecalho__icone-lateral i::before{
    content: "\e904";
    font-size: 32px;
    color: #ffffff;

    
}


.cabecalho__logo{
    width: 32px;
    height: 55px;
    justify-self: right;

    grid-area: logo;
}

.botao-login{
    margin-right: 0.7rem;
    font-size: 1rem;
    grid-column: 4;
    justify-self: right;

    grid-area: login;
}

.buscar{
    
    grid-area: busca;
    justify-self: center;
    margin-left: 1.75rem;
    
}