@import url(_variables.css);
@import url(_reset.css);
@import url(../components/botoes.css);
@import url(../components/cards.css);

body{
    background-color: var(--branco-fundo);
    font-family:var(--familia-corpo);
    font-size: var(--tamanho-corpo);
    color:var(--preto-transparente);
}

.titulo{
    font-size: var(--tamanho-titulo);
    font-weight: var(--peso-titulo);
    font-family: var(--familia-corpo);
    color: var(--cinza-footer);
}

.titulo--imagem{
    font-size: var(--tamanho-titulo);
    font-weight: 700;
    font-family: var(--familia-corpo);
    color: var(--preto);
}

.titulo--destaque{
    font-family: var(--familia-titulo-destaque);
    color: var(--verde);
    font-size: var(--tamanho-titulo-destaque);
    font-weight: var(--peso-titulo-destaque);

    display: block;

    margin-top: .75rem;
    margin-bottom: .75rem;
}