@media screen and (min-width: 0px){
   .busca-menu--ativo{
        z-index: 1;
        height: 55px;
        display: flex;
        margin-right: 0.25rem;
        align-items: center;
        background-color: var(--verde);
        font-family: inherit;
        color: var(--cinza-footer);
    }
    
    .cabecalho{
        display: none;
        align-items: center;
    } 
    
    .cabecalho__icone-lateral{
        height: 90%;
    }
    
    .fechar{
        display: block;
        height: 30px;
    }
    
    .input-campo{
        height: 40px;
        width: 300px;
        border-style:solid;
        border-radius: 2px;
        border-color: var(--verde);
    }

    .input-busca{
        display: none;
    }
    
    .input__busca{
        display: none;
    }
    
    .logo{
        display: none;
    }

    .logo-meio{
        z-index: 0;
        position: fixed;
        left: 35%;
        top: 2px;
        height: 50px;
    }
    
    .logo-verde{
        display: block;
        box-sizing: border-box;
        background-color: var(--verde);
        margin-left: 1rem;
        align-items: center;
    }
    
    .menu__mobile{
        background-color: var(--branco);
        width: 300px;
        height: 100vh;
        padding: 20px;
        position:absolute;
        left: -200vw;
        transition: .20s;
    }
    
    .menu-desktop{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 55px;
        padding: .35rem;
        background-color: var(--verde);
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    }
    
    .menu__mobile--lista{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: -300vh;
        width: 345px;
        height: 100px;
        background-color: var(--branco);
    }
    
    .menu__mobile--itens{
        display: flex;
        color: var(--verde);
        align-items: center;
        justify-content: space-between;
        margin-right: 0.75rem;
        margin-left: 1rem;
        min-height: 49px;
        height: 49px;
        border-bottom: 1px solid var(--preto-transparente);
    }

    .menu__mobile--itens:first-child{
        border-bottom: none;
        margin-bottom: 10px;
    }
    
    .menu__mobile--itens span::after{
        box-sizing: border-box;
        content: ">";
        font-size: 20px;
        color: var(--verde);   
    }
    
    .menu__mobile--ativo{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 55px;
        left: 0;
        width: 345px;
        height: 100vh;
        background-color: var(--branco);
    }
    
    .menu__mobile--itens--footer{
        font-size: var(--familia-corpo);
        font-size: .80rem;
        color: var(--verde);
        margin-top: 10px;
        margin-left: 1rem;
    }
    
    .menu__mobile--barrinha{
        font-family: var(--familia-titulo-destaque);
        color: var(--preto-transparente);
        font-weight: 700;
        font-size: 1.15rem;
    }
}

@media screen and (min-width: 1080px){
    .botao-mostrar{
        display: none;
    }
    
    .buscar{
        display: none;
    }
    
    .cabecalho__links{
        font-family: sans-serif;
        font-size: 13px;
        margin-left: .25rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: var(--branco);
    }

    .link__store i::before{
        content: "\e902";
        font-size: 16px;
        font-family: var(--familia-corpo);   
    }

    .link__check i::before{
        content: "\e909";
        font-size: 16px;
        font-family: var(--familia-corpo);   
    }

    .link__contact i::before{
        content: "\e903";
        font-size: 16px;
        font-family: var(--familia-corpo);   
    }

    .cabecalho__links:hover{
        color: var(--amarelo);
    }
    
    .cabecalho__amarelo{
        box-sizing: border-box;
        height: inherit;
        font-family: inherit;
        font-size: 13px;
        font-weight: var(--peso-botao);
        margin-right: 7rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 0.50rem;
        padding-bottom: 0.25rem;
        background-color: var(--amarelo);
        color: #000000;
    }
    
    .cabecalho{
        background-color: var(--verde-escuro);
        padding: 0;
        display: flex;
        justify-content: space-between;
        height: 35px
    }
    
    .cabecalho__icone-lateral{
        display: none;
    }

    .cabecalho__login i::before{
        content: "|";
        font-size: 18px;
        color: var(--preto-transparente);
        font-family: var(--familia-corpo);
        
    }
    
    .destaque i::before{
        content: "\e90d";
        font-size: 18px;
        color: var(--branco);
        font-family: var(--familia-corpo);
        
    }
    
    .destaque:hover{
        color: var(--branco);
        font-weight: bold;
    }
    
    .fechar{
        display: none;
    }

    .input__busca{
        height: 55px;
        display: flex;
        margin-right: 6.40rem;
        align-items: center;
        background-color: var(--verde);
        font-family: inherit;
        color: var(--cinza-footer);
       
    }

    .input-campo{
        height: 40px;
        width: 300px;
        border-style:solid;
        border-radius: 2px;
        border-color: var(--verde);
    }
    
    .logo{
        display: block;
        box-sizing: border-box;
        background-color: var(--verde);
        margin-left: 7rem;
        margin-right: 0.75rem;
        align-items: center;
        height: 50px;
    }
    
    .links__destaque{
        margin-left: 4.5rem;
        box-sizing: border-box;
    }

    .logo-verde{
        display: none;
    }
    
    .logo-meio{
        display: none;
    }
    
    .menu__mobile--lista-mobile{
        display: flex;
        flex-direction: row;
        position:relative; 
        left: 0;
        top: 0;
        background-color: var(--verde);
        height: auto;
        width: auto;
    }
    
    .menu-desktop{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: .35rem;
        background-color: var(--verde);
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    }
    
    .menu__mobile--itens{
        display: flex;  
        box-sizing: border-box;
        padding-left: 1rem;
        padding-right: 2rem;
        color: var(--branco);
        font-size: 22px;
        font-weight: 0;
        align-items: center;
        min-height: 49px;
        height: 49px;
        border-right: 1px solid var(--preto-transparente);
        border-bottom: 0px;
        align-items: center;
    }

    .menu__mobile--itens:hover{
        color: var(--amarelo);
    }
    
    .menu__mobile--itens:first-child{
        border-bottom: none;
        margin-bottom: 10px;
    }
    
    .menu__mobile--itens span::after{
        box-sizing: border-box;   
    }
    
    .menu__mobile--itens--footer{
        display: none;
    }
    
    .menu__mobile--barrinha{
        display: none;
    }
    
    .menu__mobile--itens span::after{
        box-sizing: border-box;
        display: none;  
    }

    .personal{
        font-family: sans-serif;
        font-size: 13px;
        margin-left: 3rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: var(--verde);
        color: var(--branco);
    }
}