.botao{
    background-color: transparent;
    text-align: center;
    font-family: inherit;
    font-weight: var(--peso-botao);
    color: var(--verde);
    width: 200;
    padding: 1rem 1rem;
    
    border-color: var(--verde);
    border-style: solid;
    border-radius: 50px;
    border-width: 1.5px;  
}

.botao-verde{
    background-color: var(--verde);
    color: var(--branco);
    border-style: none;
    width: 150px;
}

.botao-amarelo{
    background-color: var(--amarelo);
    color: var(--cinza-footer);
    border-style: none;
}

.botao-transparente{
    background-color: transparent;
    color: var(--branco);
    border-color: var(--branco);
    width: 200px;
}

.botao-quadrado{
    background-color: transparent;
    text-align: center;
    font-family: inherit;
    font-weight: var(--peso-botao);
    color: var(--verde);
    width: 100%;
    height: 70px;
    padding: 1rem 1rem;
    box-sizing: border-box;
    border-style: none;
    box-shadow:  0 0 0.7em var(--preto-transparente);
}

.botao-login{
    background-color: var(--amarelo);
    color: var(--preto);
    width: 70px;
    height: 43px;
    border-radius: 5px;
    box-sizing: border-box;
}